@mixin dimension($w: 100%, $h: 100%) {
  width: $w;
  height: $h;  
}

@mixin posicion($t, $l, $p: relative) {
  position: absolute;
  top: 0;
  left: 0;
}

.navbar {

  .navbar-brand {

    img {
      @include dimension(60px, 60px);
    }

    span {
      padding-left: 15px;
    }
  }

  .navbar-dark {

    .navbar-toggler {
        border-color: rgb(255, 255, 255);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
}

.portada {
  .navbar-header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1023;
  }

  .bg-dark {
    background-color: rgba(0, 115, 170, 0.0) !important;
  }

  .contenedor-portada {
    @include dimension(100%, 100vh);

    .contenedor-imagen-portada {
      @include dimension();

      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        @include dimension();
      }
    }

    .contenedor-pie {
      @include dimension(100%, 80px);
      position: absolute;
      top: calc(100vh - 140px);
      left: 0;
      font-family: "sans-serif";
      font-size: 48px;
      font-weight: 700;
      color: white;
      z-index: 1000;
      padding-left: 140px;
      text-shadow: 3px 2px rgba(0, 115, 170, 0.4);
    }

    &:after {
      content: '';
      @include posicion(0, 0, absolute);
      @include dimension();
      background: rgba(0, 115, 170, 0.4);
      /* 0, 47, 70 */
    }
  }
}